label live
	menu label ^Magic Stick - Live
	menu default
	kernel /casper/vmlinuz
	append initrd=/casper/initrd.img boot=casper username=magic hostname=magic-stick locales=fr_FR.UTF-8 keyboard-layouts=fr quiet splash ---

label live-nomodeset
	menu label ^Magic Stick - Live (nomodeset)
	kernel /casper/vmlinuz
	append initrd=/casper/initrd.img boot=casper username=magic hostname=magic-stick locales=fr_FR.UTF-8 keyboard-layouts=fr nomodeset ---

label live-safe
	menu label ^Magic Stick - Live (safe mode)
	kernel /casper/vmlinuz
	append initrd=/casper/initrd.img boot=casper username=magic hostname=magic-stick locales=fr_FR.UTF-8 keyboard-layouts=fr noapic nolapic ---
